@use "material-icons/iconfont/material-icons.css";
@use "@fontsource/roboto";
@use "@fontsource/jetbrains-mono";

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
  line-height: 2rem;
}

a {
  text-decoration: none;
  color: rgba(var(--v-theme-primary));
}

p {
  line-height: 1.5rem;
  margin-bottom: 0.7rem;
}

hr {
  margin: 20px 0px;
}

ul, li {
  margin: 0.8rem 1.3rem;
}

code {
  font-family: "Jetbrains Mono";
}