@use "vuetify/lib/styles/main.sass";
@use "@mdi/font/css/materialdesignicons.min.css";

// mixins
@mixin box-sizing {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// resets
html,
body {
  height: 100%;
}

html {
  @include box-sizing;
}

*,
*:before,
*:after {
  @include box-sizing;
}

/* main ie fix */

main {
  display: block;
}

/* headers */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
}

/* form elements */

label {
  display: inline-block;
  font-weight: 700;
}

select,
textarea,
input {
  width: 100%;
  padding: 0.5em;
  font-weight: 400;
  font-size: 1rem;
}

input[type="submit"] {
  cursor: pointer;
}

/* input border bottom animation on focus */

.input-animate {
  position: relative;
  -webkit-transition: color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    border-bottom: solid 3px;
    -webkit-transition: width 200ms ease-in-out;
    -o-transition: width 200ms ease-in-out;
    transition: width 200ms ease-in-out;
  }
}

.input-animate-target {
  border: none;
  &:focus,
  &:valid {
    outline: none;
  }
  &:focus ~ .input-animate:before,
  &:valid ~ .input-animate:before {
    width: 100%;
  }
}
// modules

/* flex */

.flex-cont {
  display: flex;
  align-items: center;
  height: 100%;
}

/* form */

.form-cont {
  max-width: 100%;
  padding: 2em;
  border-radius: 3px;
  margin: auto;
  background-color: #eee;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.5);
}

.form-heading {
  margin-top: 0;
  text-align: center;
}

.form-row {
  position: relative;
  margin-top: 1em;
}

.form-label {
  margin-bottom: 0.2em;
}

.form-textbox:valid ~ .form-check-icon:after {
  content: "\f00c";
  position: absolute;
  right: 0.5em;
  bottom: 0.4em;
}

.form-submit {
  display: block;
  width: 75%;
  padding: 1em;
  border: none;
  margin: 2em auto 0;
  font-weight: 700;
  color: white;
  transition: opacity 200ms ease-in-out;
  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

// media queries

@media only screen and (max-width: 768px) {
  html,
  body {
    font-size: 18px;
  }
}
@media only screen and (max-width: 640px) {
  html,
  body {
    font-size: 16px;
  }
}

blockquote {
  margin: 1em 2em;
  padding: 0.5em 1em;
  border-left: 5px solid #212121;
  background-color: #616161;
  color: #ffffff;
}
blockquote p {
  margin: 0;
}

ul {
  margin: 0.5em 1.5em;
}

.markdown {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #1e90ff;
}

.lazy-image-wrapper {
  width: 90%;
  height: 0;
  padding-bottom: 66.67%;
  border: 2px solid white;
  position: relative;
}
.lazy-image {
  width: 100%;
  position: absolute;
}