@use "@picocss/pico/scss/pico" with (
  $theme-color: "blue",
  $enable-semantic-container: true,
  $modules: (
    "layout/container": false,
    "layout/grid": false,
    "layout/overflow-auto": false,
    "content/table": false,
    "forms/basics": false,
    "forms/checkbox-radio-switch": false,
    "forms/input-color": false,
    "forms/input-date": false,
    "forms/input-file": false,
    "forms/input-range": false,
    "forms/input-search": false,
    "components/accordion": false,
    "components/card": false,
    "components/dropdown": false,
    "components/group": false,
    "components/loading": false,
    "components/modal": false,
    "components/progress": false,
    "components/tooltip": false,
  )
);

body {
  font-family: "Noto Sans", sans-serif;
  font-display: optional;
}