$footer-background-color: #ffffff;
$footer-color: true;
$link: hsl(207, 61%, 53%);

@import "./bulma/sass/base/_index.scss";
@import "./bulma/sass/utilities/_index.scss";
@import "./bulma/sass/components/_index.scss";
@import "./bulma/sass/elements/_index.scss";
@import "./bulma/sass/themes/_index.scss";
@import "./bulma/sass/layout/_index.scss";