@charset "utf-8";
@use "sass:color";
@use "bulma/sass/utilities/derived-variables" with(
  $link: #2275c9
);
@forward "bulma/sass/base";
@forward "bulma/sass/elements/box";
@forward "bulma/sass/elements/content";
@forward "bulma/sass/elements/tag";
@forward "bulma/sass/elements/button";
@forward "bulma/sass/components/tabs";
@forward "bulma/sass/themes";


body {
  font-family: "Noto Sans", sans-serif;
  font-display: optional;
}
