@import "@fontsource/roboto/400.css";

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
  line-height: 2rem;
}

a {
  text-decoration: none;
  color: rgba(var(--v-theme-primary));
}

.headerSpace {
  height: 64px;
}