@import "@fontsource/roboto/400.css";
@import "material-icons/iconfont/filled.css";

html {
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: rgba(var(--v-theme-primary));
}

.headerSpace {
  height: 64px;
}

p {
  line-height: 1.5rem;
  margin-bottom: 0.7rem;
}

hr {
  margin: 20px 0px;
}

ul,
li {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0.7rem;
}